.fredd {
   padding: 3rem 0;
   display: block;
}
.fredd__inner {
   max-width: 800px;
   text-align: center;
   margin: 0 auto;
}
.title {
   font-size: 5rem;
   line-height: 4.6rem;
   font-weight: 300;
   color: #fff;
   margin: 2rem 0;
   font-family: 'Roboto Mono', monospace;
}

.subtitle {
   font-size: 1.3rem;
   font-weight: 300;
   line-height: 2rem;
}

@media (max-width: 600px) {
   .title {
      font-size: 1.8rem;
      font-weight: 100;
      line-height: 2.8rem;
   }
}
.title b {
   color: #fff;
}

.fredd__featured {
   display: grid;
   grid-template-columns: auto auto auto;
   grid-column-gap: 2rem;
}

.fredd__featured > div {
   background: #111;
   border: 1px solid #333;
   padding: 2.5rem;
   border-radius: .5rem;
   color: #fff;
   transition: all .3s ease-in-out;
}

.fredd__featured > div:hover {
   border: 1px solid #555;
}


.feature__title {
   font-weight: 100;
}

.feature__title img {
   vertical-align: middle;
}

.feature__title span {
   font-weight: 100;
   font-size: 1.4rem;
   color: #ccc;
   vertical-align: middle;
}

@media (max-width: 600px) {
   .fredd__featured  {
      display: block;
   }
   .fredd__featured div {
      margin-bottom: 1rem;
   }
}

.emoji {
   font-size: 1.6rem;
   margin: 5px;
}