.fredd {
   padding: 3rem 0;
   display: block;
}
.fredd__inner {
   max-width: 700px;
}
.title {
   font-size: 3.2rem;
   font-weight: 100;
   line-height: 4rem;
   font-weight: 200;
   color: #fff;
   margin: 2rem 0;
}
.subtitle {
   font-weight: 300;
   line-height: 2rem;
}

@media (max-width: 600px) {
   .title {
      font-size: 1.8rem;
      font-weight: 100;
      line-height: 2.8rem;
   }
}
.title b {
   color: #fff;
}

.fredd__featured {
   display: grid;
   grid-template-columns: auto auto auto;
   grid-column-gap: 2rem;
}
.feature__title {
   margin-top: 0;
   font-weight: 500;
   font-size: 1.8rem;
}

.fredd__featured div {
   background: #1b1b1b;
   padding: 2.5rem;
   border-radius: .5rem;
   color: #fff;
}

@media (max-width: 600px) {
   .fredd__featured  {
      display: block;
   }
   .fredd__featured div {
      margin-bottom: 1rem;
   }
}

.emoji {
   font-size: 1.6rem;
   margin: 5px;
}