.AvatarContainer {
    display: flex;
    gap: .8rem;
    place-items: center;
    margin-bottom: 2rem;
}

.AvatarContainer span {
    font-size: 15px;
    color: #565b65;
}

.Avatar {
    height: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}
