.container {
    display: grid;
    grid-template-columns: 110px auto;
    max-width: 400px;
    margin: 0 auto;
}

.name {
    margin-bottom: 0;
}

.position {
    margin-top: 6px;
}

.links span {
    display: inline-block;
    margin: 0 12px;
    color: #444;
}