.featured {
}

.featured > div {
   color: #fff;
   transition: all .3s ease-in-out;
   opacity: .65;
   display: inline-block;
}

.featured__title {
   font-weight: 100;
   padding: .75rem 4rem .75rem 0;
}

.featured__title img {
   vertical-align: bottom;
   height: 18px;
}

.featured__title span {
   font-weight: 100;
   font-size: 1.4rem;
   color: #ccc;
   vertical-align: middle;
}

@media (max-width: 600px) {
}
