.featured {
   display: grid;
   grid-template-columns: auto auto auto;
   grid-column-gap: 2rem;
   grid-row-gap: 2rem;
}

.featured > div {
   background: #111;
   border: 1px solid #333;
   padding: 2.5rem;
   border-radius: .5rem;
   color: #fff;
   transition: all .3s ease-in-out;
}

.featured > div:hover {
   border: 1px solid #555;
}


.featured__title {
   font-weight: 100;
}

.featured__title img {
   vertical-align: bottom;
   height: 24px;
}

.featured__title span {
   font-weight: 100;
   font-size: 1.4rem;
   color: #ccc;
   vertical-align: middle;
}

@media (max-width: 600px) {
   .featured  {
      display: block;
   }
   .featured div {
      margin-bottom: 1rem;
   }
}
