.featured {
   display: flex;
   gap: 6rem;
}

.featured > div {
   color: #fff;
   transition: all .3s ease-in-out;
   text-align: center;
   opacity: .65;
}

.featured__title {
   font-weight: 100;
}

.featured__title img {
   vertical-align: bottom;
   height: 24px;
}

.featured__title span {
   font-weight: 100;
   font-size: 1.4rem;
   color: #ccc;
   vertical-align: middle;
}

@media (max-width: 600px) {
   .featured  {
      display: block;
   }
   .featured div {
      margin-bottom: 1rem;
   }
}
