.container img {
  width: 100%;
  height: auto;
}

.container figure {
  margin-left: 0;
  margin-right: 0;
}

.container figcaption {
  opacity: 0.6;
}

.name {
  font-size: 36px;
}

.back {
  display: inline-block;
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}

.code {
  font-family: monospace;
  color: var(--accent);
  background: #28282b;
  padding: 2px 4px;
  border-radius: 2px;
}

.italic {
  font-style: italic;
}

.italic {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.bookmark {
  display: block;
  margin-bottom: 10px;
}

.childPage {
  border: 1px solid currentColor;
  padding: 20px;
  border-radius: 12px;
}

.bulletedList {
  line-height: 30px;
  padding-left: 1rem;
}