.markdown h2 {
    color: #ccc;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 2rem 0;
}

.markdown h3 {
    color: #ccc;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 2rem 0;
}

.markdown p {
    font-family: 'Source Serif 4', serif;
    font-size: 17px;
    letter-spacing: .25px;
    color: #9295a2;
    line-height: 1.8rem;
}

.markdown pre {
    overflow: auto;
}

.markdown code {
    color: #fff;
}

