.header__inner {
   padding: 2rem 0;
   display: grid;
   grid-template-columns: 1fr 4fr;
   align-items: center;
}

.logo img {
   max-width: 100px;
}

.menuWrapper {
   text-align: right;
   font-weight: normal;
}

