.header__inner {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  gap: 4rem;
  border-bottom: 1px dotted #222;
}

.logo img {
  max-width: 100px;
}

.menuWrapper a {
  color: #ccc;
  text-decoration: none;
  transition: all .5s;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px;
  border-radius: 4px;
  padding: .5rem 1rem;
}

.menuWrapper a:hover {
  color: #fff;
  background: #212121;
}

.menuWrapper>* {
  margin-right: 1rem;
}