.header {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
}

.menu > a {
  color: var(--white-80);
  text-decoration: none;
  font-weight: 200;
  letter-spacing: 1px;
  transition: all .3s;
}

.menu > a:hover {
  color: var(--white-100);
}