.PostPreview__container {
    margin-bottom: 4rem;
}

.PostPreview__title a {
    font-size: 1.65rem;
    line-height: 2.4rem;
}

.PostPreview__p {
    font-family: serif;
    font-size: 18px;
    letter-spacing: .25px;
    color: #9295a2;
    line-height: 1.8rem;
}